<center style="font-size:48px;">Clean Up</center>

In [1]:
import pandas as pd 

cars = pd.read_csv('../Data/car-assignments.csv')
cc = pd.read_csv('../Data/cc_data.csv', encoding='cp1252')
gps = pd.read_csv('../Data/gps.csv', parse_dates=['Timestamp'])
loyalty = pd.read_csv('../Data/loyalty_data.csv', encoding='cp1252')

In [2]:
locations = gps.merge(cars, left_on='id', right_on='CarID', how='left')
locations.drop(columns='CarID', inplace =True)
locations.head()

,Timestamp,id,lat,long,LastName,FirstName,CurrentEmploymentType,CurrentEmploymentTitle
0,2014-01-06 06:28:01,35,36.076225,24.874689,Vasco-Pais,Willem,Executive,Environmental Safety Advisor
1,2014-01-06 06:28:01,35,36.076220,24.874596,Vasco-Pais,Willem,Executive,Environmental Safety Advisor
2,2014-01-06 06:28:03,35,36.076211,24.874443,Vasco-Pais,Willem,Executive,Environmental Safety Advisor
3,2014-01-06 06:28:05,35,36.076217,24.874253,Vasco-Pais,Willem,Executive,Environmental Safety Advisor
4,2014-01-06 06:28:06,35,36.076214,24.874167,Vasco-Pais,Willem,Executive,Environmental Safety Advisor

In [3]:
print("People with first name Driver : {}".format(sum(sum([locations.FirstName == "Truck"]))))
print("People with last name Driver : {}".format(sum(sum([locations.LastName == "Driver"]))))

People with first name Driver : 0
People with last name Driver : 0

In [4]:
locations['CurrentEmploymentType'] = locations['CurrentEmploymentType'].fillna('Facilities')
locations['CurrentEmploymentTitle'] = locations['CurrentEmploymentTitle'].fillna('Truck Driver')
locations['LastName'] = locations['LastName'].fillna('Driver')
locations['FirstName'] = locations['FirstName'].fillna('Truck')
locations['LastName'] = locations.apply(lambda x: 'Driver_{}'.format(x['id']) if x['LastName'] == 'Driver' else x['LastName'], axis =1 )

In [5]:
timeUnit = ['day', 'hour', 'minute', 'second']
for unit in timeUnit:
    if unit == 'day':
        locations[unit] = locations['Timestamp'].apply(lambda x: x.day)
    if unit == 'hour':
        locations[unit] = locations['Timestamp'].apply(lambda x: x.hour)
    if unit == 'minute':
        locations[unit] = locations['Timestamp'].apply(lambda x: x.minute)
    if unit == 'second':
        locations[unit] = locations['Timestamp'].apply(lambda x: x.second)

In [6]:
locations.head()

,Timestamp,id,lat,long,LastName,FirstName,CurrentEmploymentType,CurrentEmploymentTitle,day,hour,minute,second
0,2014-01-06 06:28:01,35,36.076225,24.874689,Vasco-Pais,Willem,Executive,Environmental Safety Advisor,6,6,28,1
1,2014-01-06 06:28:01,35,36.076220,24.874596,Vasco-Pais,Willem,Executive,Environmental Safety Advisor,6,6,28,1
2,2014-01-06 06:28:03,35,36.076211,24.874443,Vasco-Pais,Willem,Executive,Environmental Safety Advisor,6,6,28,3
3,2014-01-06 06:28:05,35,36.076217,24.874253,Vasco-Pais,Willem,Executive,Environmental Safety Advisor,6,6,28,5
4,2014-01-06 06:28:06,35,36.076214,24.874167,Vasco-Pais,Willem,Executive,Environmental Safety Advisor,6,6,28,6

In [22]:
cc['Is_Loyalty'] = False
loyalty['Is_Loyalty'] = True
buys = pd.concat([cc, loyalty])
buys = buys.merge(cars, left_on=['LastName', 'FirstName'], right_on=['LastName', 'FirstName'])

In [23]:
buys.head()

,timestamp,location,price,FirstName,LastName,Is_Loyalty,CarID,CurrentEmploymentType,CurrentEmploymentTitle
0,1/6/2014 7:28,Brew've Been Served,11.34,Edvard,Vann,False,34.0,Security,Perimeter Control
1,1/6/2014 13:23,Hippokampos,13.26,Edvard,Vann,False,34.0,Security,Perimeter Control
2,1/7/2014 7:33,Brew've Been Served,7.09,Edvard,Vann,False,34.0,Security,Perimeter Control
3,1/7/2014 13:33,Kalami Kafenion,18.06,Edvard,Vann,False,34.0,Security,Perimeter Control
4,1/7/2014 20:10,Guy's Gyros,26.82,Edvard,Vann,False,34.0,Security,Perimeter Control

In [27]:
locations[(locations.LastName == 'Vann') & (locations.minute == 28) ]

,Timestamp,id,lat,long,LastName,FirstName,CurrentEmploymentType,CurrentEmploymentTitle,day,hour,minute,second
29184,2014-01-06 13:28:00,34,36.069558,24.872153,Vann,Edvard,Security,Perimeter Control,6,13,28,0
29191,2014-01-06 13:28:01,34,36.069558,24.872209,Vann,Edvard,Security,Perimeter Control,6,13,28,1
29198,2014-01-06 13:28:02,34,36.069534,24.872327,Vann,Edvard,Security,Perimeter Control,6,13,28,2
29204,2014-01-06 13:28:03,34,36.069497,24.872415,Vann,Edvard,Security,Perimeter Control,6,13,28,3
29210,2014-01-06 13:28:04,34,36.069526,24.872495,Vann,Edvard,Security,Perimeter Control,6,13,28,4
...,...,...,...,...,...,...,...,...,...,...,...,...
622210,2014-01-17 13:28:55,34,36.076644,24.862385,Vann,Edvard,Security,Perimeter Control,17,13,28,55
622212,2014-01-17 13:28:56,34,36.076667,24.862477,Vann,Edvard,Security,Perimeter Control,17,13,28,56
622214,2014-01-17 13:28:57,34,36.076652,24.862539,Vann,Edvard,Security,Perimeter Control,17,13,28,57
622216,2014-01-17 13:28:58,34,36.076658,24.862637,Vann,Edvard,Security,Perimeter Control,17,13,28,58
622219,2014-01-17 13:28:59,34,36.076629,24.862748,Vann,Edvard,Security,Perimeter Control,17,13,28,59

<div>
    <span  style=width:700px;display:inline-block;align:left">
        <a href="./EDA.ipynb"><< Exploratory Data Analysis</a>
    </span>
    <span style="width:700px;display:inline-block;" align="right">
        <a href="./EDA2.ipynb">Further Exploratory Data Analysis>></a>
    </span>
</div>
<div>
    <center>
        <span style="width:250px;display:inline-block">
            <a href="../Master.ipynb">Master Notebook</a>
        </span>
        <span style="width:250px;display:inline-block">
            <a href="../README.md">Table of Contents</a>
        </span>
    <center>
</div>