In [1]:
import pandas as pd
import numpy as np

In [71]:
gps = pd.read_csv('gps.csv', parse_dates=['Timestamp'])
gps.head()

            Timestamp  id        lat       long
0 2014-01-06 06:28:01  35  36.076225  24.874689
1 2014-01-06 06:28:01  35  36.076220  24.874596
2 2014-01-06 06:28:03  35  36.076211  24.874443
3 2014-01-06 06:28:05  35  36.076217  24.874253
4 2014-01-06 06:28:06  35  36.076214  24.874167

In [56]:
cc = pd.read_csv('cc_data.csv', encoding='cp1252')
cc['is_loyalty'] = False
cc.head()

       timestamp             location  price FirstName  LastName  is_loyalty
0  1/6/2014 7:28  Brew've Been Served  11.34    Edvard      Vann       False
1  1/6/2014 7:34     Hallowed Grounds  52.22    Hideki  Cocinaro       False
2  1/6/2014 7:35  Brew've Been Served   8.33    Stenig     Fusil       False
3  1/6/2014 7:36     Hallowed Grounds  16.72  Birgitta    Frente       False
4  1/6/2014 7:37  Brew've Been Served   4.24      Sven    Flecha       False

In [42]:
cars = pd.read_csv('car-assignments.csv')
cars.head(50)

,LastName,FirstName,CarID,CurrentEmploymentType,CurrentEmploymentTitle
0,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk
1,Azada,Lars,2.0,Engineering,Engineer
2,Balas,Felix,3.0,Engineering,Engineer
3,Barranco,Ingrid,4.0,Executive,SVP/CFO
4,Baza,Isak,5.0,Information Technology,IT Technician
5,Bergen,Linnea,6.0,Information Technology,IT Group Manager
6,Borrasca,Isande,7.0,Engineering,Drill Technician
7,Calixto,Nils,8.0,Information Technology,IT Technician
8,Calzas,Axel,9.0,Engineering,Drill Technician
9,Campo-Corrente,Ada,10.0,Executive,SVP/CIO
10,Cazar,Gustav,11.0,Engineering,Hydraulic Technician
11,Cocinaro,Hideki,12.0,Security,Site Control
12,Ferro,Inga,13.0,Security,Site Control
13,Dedos,Lidelse,14.0,Engineering,Engineering Group Manager
14,Bodrogi,Loreto,15.0,Security,Site Control
15,Vann,Isia,16.0,Security,Perimeter Control
16,Flecha,Sven,17.0,Information Technology,IT Technician
17,Frente,Birgitta,18.0,Engineering,Geologist
18,Frente,Vira,19.0,Engineering,Hydraulic Technician
19,Fusil,Stenig,20.0,Security,Building Control
20,Osvaldo,Hennie,21.0,Security,Perimeter Control
21,Herrero,Kanon,22.0,Security,Badging Office
22,Lagos,Varja,23.0,Security,Badging Office
23,Mies,Minke,24.0,Security,Perimeter Control
24,Nubarron,Adra,25.0,Engineering,Geologist
25,Onda,Marin,26.0,Engineering,Drill Site Manager
26,Orilla,Kare,27.0,Engineering,Drill Technician
27,Orilla,Elsa,28.0,Engineering,Drill Technician
28,Ovan,Bertrand,29.0,Facilities,Facilities Group Manager
29,Resumir,Felix,30.0,Security,Security Group Manager
30,Sanjorge Jr.,Sten,31.0,Executive,President/CEO
31,Strum,Orhan,32.0,Executive,SVP/COO
32,Tempestad,Brand,33.0,Engineering,Drill Technician
33,Vann,Edvard,34.0,Security,Perimeter Control
34,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor
35,Hafon,Albina,NaN,Facilities,Truck Driver
36,Hawelon,Benito,NaN,Facilities,Truck Driver
37,Hawelon,Claudio,NaN,Facilities,Truck Driver
38,Mies,Henk,NaN,Facilities,Truck Driver
39,Morlun,Valeria,NaN,Facilities,Truck Driver
40,Morlun,Adan,NaN,Facilities,Truck Driver
41,Morluniau,Cecilia,NaN,Facilities,Truck Driver
42,Nant,Irene,NaN,Facilities,Truck Driver
43,Scozzese,Dylan,NaN,Facilities,Truck Driver

In [55]:
loyalty = pd.read_csv('loyalty_data.csv', encoding='cp1252')
loyalty['is_loyalty'] = True
loyalty.head()

  timestamp             location  price FirstName  LastName  is_loyalty
0  1/6/2014  Brew've Been Served   4.17  Cornelia      Lais        True
1  1/6/2014  Brew've Been Served   9.60       Mat    Bramar        True
2  1/6/2014     Hallowed Grounds  16.53     Emile      Arpa        True
3  1/6/2014         Coffee Shack  11.51     Varro    Awelon        True
4  1/6/2014     Hallowed Grounds  12.93    Rachel  Pantanal        True

In [72]:
locs = gps.merge(cars, left_on='id', right_on='CarID', how = 'outer')

In [67]:
buys = pd.concat([loyalty, cc])
buys[~buys.is_loyalty].groupby('location').count().sort_values('timestamp', ascending=False)

,timestamp,price,FirstName,LastName,is_loyalty
location,,,,,
Katerina’s Café,212,212,212,212,212
Hippokampos,171,171,171,171,171
Guy's Gyros,158,158,158,158,158
Brew've Been Served,156,156,156,156,156
Hallowed Grounds,92,92,92,92,92
Ouzeri Elian,87,87,87,87,87
Abila Zacharo,72,72,72,72,72
Kalami Kafenion,64,64,64,64,64
Gelatogalore,64,64,64,64,64
Frydos Autosupply n' More,48,48,48,48,48
Bean There Done That,47,47,47,47,47
Coffee Cameleon,38,38,38,38,38
Jack's Magical Beans,37,37,37,37,37
Brewed Awakenings,30,30,30,30,30
Albert's Fine Clothing,25,25,25,25,25
Abila Airport,25,25,25,25,25
Nationwide Refinery,24,24,24,24,24
Shoppers' Delight,20,20,20,20,20
Carlyle Chemical Inc.,19,19,19,19,19
Stewart and Sons Fabrication,18,18,18,18,18
Kronos Mart,10,10,10,10,10
General Grocer,10,10,10,10,10
Chostus Hotel,9,9,9,9,9
Desafio Golf Course,8,8,8,8,8
Coffee Shack,8,8,8,8,8
Roberts and Sons,8,8,8,8,8
Kronos Pipe and Irrigation,6,6,6,6,6
Maximum Iron and Steel,6,6,6,6,6
Ahaggo Museum,6,6,6,6,6
Abila Scrapyard,4,4,4,4,4
Octavio's Office Supplies,4,4,4,4,4
Frank's Fuel,2,2,2,2,2
U-Pump,2,2,2,2,2
Daily Dealz,1,1,1,1,1

In [101]:
locs['second'] = locs['Timestamp'].apply(lambda x: x.second)

In [102]:
locs.head()

,Timestamp,id,lat,long,LastName,FirstName,CarID,CurrentEmploymentType,CurrentEmploymentTitle,day,year,month,hour,minute,second
0,2014-01-06 06:28:01,35.0,36.076225,24.874689,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor,6.0,2014.0,1.0,6.0,28.0,1.0
1,2014-01-06 06:28:01,35.0,36.076220,24.874596,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor,6.0,2014.0,1.0,6.0,28.0,1.0
2,2014-01-06 06:28:03,35.0,36.076211,24.874443,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor,6.0,2014.0,1.0,6.0,28.0,3.0
3,2014-01-06 06:28:05,35.0,36.076217,24.874253,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor,6.0,2014.0,1.0,6.0,28.0,5.0
4,2014-01-06 06:28:06,35.0,36.076214,24.874167,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor,6.0,2014.0,1.0,6.0,28.0,6.0

In [113]:
locs[(locs.day == 6)][(locs.CarID == 1)]

/tmp/ipykernel_5570/3812127524.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  locs[(locs.day == 6)][(locs.CarID == 1)]

,Timestamp,id,lat,long,LastName,FirstName,CarID,CurrentEmploymentType,CurrentEmploymentTitle,day,year,month,hour,minute,second
311236,2014-01-06 07:20:01,1.0,36.066457,24.882582,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,7.0,20.0,1.0
311237,2014-01-06 07:20:03,1.0,36.066344,24.882589,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,7.0,20.0,3.0
311238,2014-01-06 07:20:06,1.0,36.066147,24.882584,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,7.0,20.0,6.0
311239,2014-01-06 07:20:07,1.0,36.066130,24.882576,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,7.0,20.0,7.0
311240,2014-01-06 07:20:10,1.0,36.065955,24.882615,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,7.0,20.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313494,2014-01-06 22:14:59,1.0,36.048222,24.879576,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,22.0,14.0,59.0
313495,2014-01-06 22:15:00,1.0,36.048133,24.879576,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,22.0,15.0,0.0
313496,2014-01-06 22:15:01,1.0,36.048049,24.879567,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,22.0,15.0,1.0
313497,2014-01-06 22:15:02,1.0,36.048022,24.879570,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,22.0,15.0,2.0
313498,2014-01-06 23:01:01,1.0,36.048025,24.879573,Alcazar,Lucas,1.0,Information Technology,IT Helpdesk,6.0,2014.0,1.0,23.0,1.0,1.0

In [116]:
locs.drop(columns = ['Timestamp', 'month', 'year'], inplace = True)

In [131]:
locs[['CurrentEmploymentType', 'CurrentEmploymentTitle']].drop_duplicates().sort_values('CurrentEmploymentType')

         CurrentEmploymentType        CurrentEmploymentTitle
43503              Engineering          Hydraulic Technician
89846              Engineering              Drill Technician
362120             Engineering     Engineering Group Manager
292813             Engineering            Drill Site Manager
207802             Engineering                     Geologist
269401             Engineering                      Engineer
0                    Executive  Environmental Safety Advisor
20291                Executive                       SVP/CFO
68153                Executive                       SVP/CIO
137892               Executive                       SVP/COO
682852               Executive                 President/CEO
330547              Facilities      Facilities Group Manager
685169              Facilities                  Truck Driver
311236  Information Technology                   IT Helpdesk
175719  Information Technology                 IT Technician
253976  Information Technology              IT Group Manager
190617                Security                  Site Control
157927                Security             Perimeter Control
504426                Security                Badging Office
531287                Security        Security Group Manager
225286                Security              Building Control
466454                     NaN                           NaN

In [132]:
buys

,timestamp,location,price,FirstName,LastName,is_loyalty
0,1/6/2014,Brew've Been Served,4.17,Cornelia,Lais,True
1,1/6/2014,Brew've Been Served,9.60,Mat,Bramar,True
2,1/6/2014,Hallowed Grounds,16.53,Emile,Arpa,True
3,1/6/2014,Coffee Shack,11.51,Varro,Awelon,True
4,1/6/2014,Hallowed Grounds,12.93,Rachel,Pantanal,True
...,...,...,...,...,...,...
1486,1/19/2014 20:16,Guy's Gyros,37.48,Brand,Tempestad,False
1487,1/19/2014 20:22,Katerina’s Café,38.90,Birgitta,Frente,False
1488,1/19/2014 20:25,Guy's Gyros,20.94,Loreto,Bodrogi,False
1489,1/19/2014 20:30,Guy's Gyros,31.94,Minke,Mies,False
1490,1/19/2014 20:51,Guy's Gyros,39.60,Felix,Resumir,False